
=simple_fields_for @parametro do |f|

 =f.input :atrcomp, label: 'Atributo variable', :collection => @atrsearch.map{ |c| [c.name, c.id] }, include_blank: 'Seleccione atributo variable', :input_html => {:onchange => "refresh_atr(this.value)"} 
//modificacion2222
    	
